.ag-root-wrapper,
.ag-popup {
    line-height: normal;
    cursor: default;
    white-space: normal;
    -webkit-font-smoothing: antialiased;
    color: var(--ag-text-color);
    font-family: var(--ag-font-family);
    font-size: var(--ag-font-size);
    color-scheme: var(--ag-browser-color-scheme);
    --ag-indentation-level: 0;
}

.ag-root-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: var(--ag-background-color);
    border: var(--ag-wrapper-border);
    border-radius: var(--ag-wrapper-border-radius);
}

.ag-root-wrapper.ag-layout-normal {
    height: 100%;
}
